body {
    background-color: #FDF5DF;
    justify-content: center;


    font-family: cursive;
}
#box-1 {
    background-color: #5EBEC4;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    margin: 40px auto;
    border: solid #40969c;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;

}
h1 {
    color: #F92C85;
    text-align: center;
}
p {
    color: #F92C85;
}
#correct {
color: greenyellow;
}
#palindrome {
    margin: 10px 0px;
    width: 80%;
    height: 25px;
    padding: 5px 10px;
    
}
a {
 color: #F92C85;
 text-decoration: none;
    
}
#nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#nav-btn {
  align-items: center;
  background-color: #5EBEC4;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 15px 10px;
  color: #F92C85;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
}

#nav-btn:after {
  background-color: #5d6062;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#nav-btn:hover:after {
  transform: translate(0, 0);
}

#nav-btn:active {
  background-color: #6fd7eb;
  outline: 0;
}

#nav-btn:hover {
  outline: 0;
}
footer {
  text-align: center;
}